ANTHROPIC_API_KEY=
CODA_API_TOKEN=
CODA_DOC_ID=dSt8mkiTmO7
HUBSPOT_API_KEY=
HUBSPOT_PORTAL_ID=243046792
SLACK_BOT_TOKEN=
SLACK_INTERVIEW_CHANNEL=C088YP1M732
SLACK_GENERAL_CHANNEL=C07AYH29X4L
HIGHERGOV_API_KEY=
S3_BUCKET=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_ENDPOINT=
DATABASE_URL=postgresql://blackbox:blackbox@localhost:5432/blackbox
REDIS_URL=redis://localhost:6379/0
